<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lugares" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Insertar Nuevo Lugar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input placeholder="Ingrese el titulo del lugar" type="text" #tit></ion-input>
          <ion-input placeholder="Ingrese url de imagen" #img></ion-input>
          <ion-input placeholder="Ingrese el comentario" #com></ion-input>
          <ion-button color="primary" (click)="InsertarLugar()">
            Guardar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
